*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0d0221;
  color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

input, button { outline: none; }
a { text-decoration: none; color: inherit; }
